@import '../../theme.less';

.homeRefresh {
  -webkit-overflow-scrolling: touch;
}
.homeScreen {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 16px;
  position: static;
  -webkit-overflow-scrolling: touch;
}

.banner {
  position: relative;
  width: 100%;
}

.accountCard {
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(top, @brand-primary, @brand-primary-tap);
  h1 {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin:0;
    font-weight: 500;
    line-height: 45px;
  }
}

.gridContainer {
  width: 100%;
  padding: 0 16px;
  position: relative;
  margin-top: -55px;
  z-index: 20;
  .gridWrapper {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    padding:0 4px;
    width: 100%;
    min-height: 237px;
   /*  :global {
      /* .am-grid-item:before {
        //padding-bottom: 90%;
      } 
    } */
  }
}

.indexCard {
  background-color: #fff;
  margin-top: 16px;
}

.indexCardHeader {
  padding:16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  a {
    display: inline-block;
    color: @color-text-base;
    margin-top: 2px;
    span, svg {
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      color: @color-text-placeholder;
      margin-top: -1px;
    }
  }
  &:after {
    .scale-hairline-common(@border-color-base, auto, auto, 0, 0);
    width: 100%;
    height: 1px;
    transform-origin:50% 50%;
    transform: scaleY(0.5);
  }
}

.indexCardTitle {
  font-size: 16px;
  font-weight: 500;
  svg,span {
    vertical-align: middle;
  }
}

.indexCardBody {
  padding:0;
  position: relative;
  min-height: 128px;
  :global {
    .am-grid-item-content {
      padding:8px 0 !important;
    }
  }
}
.bottomLine {
  box-shadow: none;
  margin-bottom: 0;
  &:after {
    .scale-hairline-common(@border-color-secondary, auto, auto, 0, 0);
    width: 100%;
    height: 1px;
    transform-origin:50% 50%;
    transform: scaleY(0.5);
  }
  &:last-child:after  {
    display: none;
    height: 0;
  }
}
/* .cardList {
  padding:0 16px;
} */



.indexNewsItem {
  padding:8px 0 0 136px;
  height: 80px;
}

.indexNewsImg {
  width: 120px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  left:0;
  top: 8px;
  img {
    display: block;
    width: 100%;
  }
}

.indexNewsContent {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indexNewsTitle {
  font-size: 14px;
  line-height: 20px;
}

.indexNewsLink {
  .indexNewsTitle {
    color: @color-text-base;
  }
}

.indexNewsTime {
  color:@color-text-secondary;
  font-size: 12px;
  margin-bottom:4px;
}

.fnGrid {
  padding-top: 24px;
  :global {
    .am-grid-item-content {
      padding-top: 0 !important;
      padding-bottom: 24px !important
    }
  }
}