@import '../../theme.less';

.trackScreen {
  background-color: #fff;
}
.routeMap {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}
.nodeContainer {
  padding-top: 200px;
  min-height: 100%;
  background-color: #fff;
}

.timeline {
  background-color: #fff;
  p {
    margin-bottom: 6px;
    b {
      font-weight: 500;
    }
  }
}

.addNodes {
  &:focus,&:hover {
    color: @color-text-base;
  }
}

.textGray {
  color: #ccc;
}

.nodeTabPanel {
  padding:18px 16px 16px 0;
  min-height: 256px;
  position: relative;
}

.checkItem {
  margin-bottom: 6px;
  color: #ccc;
  span,svg {
    vertical-align: middle;
  }
  span {
    display: inline-block;
    margin-top: -1px;
    margin-left: 4px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.nodesModal {
  :global {
    .am-list-header {
      padding:16px 16px 8px;
      text-align: left;
      background-color: #f5f5f9;
    }
  }
}