@import '../../theme.less';

.trackScreen {
  background-color: #fff;
}
.routeMap {
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}
.nodeContainer {
  padding-top: 200px;
  min-height: 100%;
  background-color: #fff;
}

.timeline {
  background-color: #fff;
  p {
    margin-bottom: 6px;
    b {
      font-weight: 500;
    }
  }
}

.addNode {
  &:focus,&:hover {
    color: @color-text-base;
  }
}

.textGray {
  color: #999;
}

.nodeTabPanel {
  padding:18px 16px 16px 0;
}