@import '../theme.less';

.required {
  color: @brand-important;
  margin-right: 2px;
}

.bottomButton {
  width: 100%;
  padding:16px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  //box-shadow: 0 3px 8px 4px rgba(0,0,0,.06);
  &:before {
    .scale-hairline-common(@border-color-secondary, 0, auto, auto, 0);
    width: 100%;
    height: 1px;
    transform-origin: 50% 50%;
    transform: scaleY(0.5);
  }
}

.createForm {
  padding-bottom: 90px;
  :global {
    .am-list-extra {
      flex-basis: initial !important;
    }
  }
}

.fieldContainer {
  span {
    display: inline-block;
  }
}
.fieldName {
  color: @card-text-color;
  width: 85px;
  margin-right: 4px;
}

.fieldValue {
  color: @color-text-base;
  word-break: break-all;
  flex: 1;
}