@import '../theme.less';

.listScreen {
  :global {
    /* .am-tabs-default-bar-tab::after {
      display: none !important;
    } */
    .am-tabs-content-wrap {
      display: none;
    }
  }
}
.listStatus {
  height: 44px;
  :global {
    .am-tabs-default-bar-nextpage {
      background: linear-gradient(to right, rgba(60, 114, 240, 0), #3c72f0);
    }
    .am-tabs-default-bar-prevpage {
      background: linear-gradient(to right, #3c72f0, rgba(60, 114, 240, 0));
    }
  }
}
.listFilter {
  position: relative;
  height: 43px;
  background-color: #fff;
  text-align: center;
  &:after {
    .scale-hairline-common(@border-color-secondary, auto, auto, 0, 0);
    width: 100%;
    height: 1px;
    transform-origin:50% 50%;
    transform: scaleY(0.5);
  }
  span {
    display: inline-block;
    position: relative;
    font-size: 14px;
    padding:12px 16px;
    width: 49%;
    &.pipe {
      color: @color-light;
      padding: 12px 0;
      width: 1%;
    }
    svg {
      position: absolute;
      right: 16px;
      top: 15px;
      margin-top: -2px;
      color: @color-light;
    }
  }
  i {
    display: inline-block;
    margin-right: 6px;
    font-style: normal;
    font-size: 10px;
    color: @color-light
  }
}

.stickyContainer {
  //position: relative;
}

.sockList {
  background-color: #fff;
}
.sockListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding:16px;
  .sockListContent {
    color: @color-text-base;
  }
  .sockListBrief {
    margin-top: 6px;
    color: @card-text-color;
    span b{
      font-weight: 500;
      color: @color-text-base;
    }
    span:last-child {
      margin-left:8px;
    }
  }
  .sockListExtra {
    color: @brand-primary;
    font-size: 16px;
    font-weight: 500;
    span {
      display: inline-block;
      margin-left: 2px;
      font-size: 12px;
    }
  }
  &:after {
    .scale-hairline-common(@border-color-base, auto, auto, 0, 0);
    width: 100%;
    height: 1px;
    transform-origin:50% 50%;
    transform: scaleY(0.5);
  }
}