@import '../../theme.less';

.newsScreen {
  background-color: #fff;
}

.newsContainer {
  padding: 16px;
}

.newsTitle {
  font-size: 23px;
}

.newsExtra {
  margin:12px 0 24px;
  font-size: 12px;
  color: @color-text-secondary;
  span {
    display: inline-block;
    margin-right: 12px;
    svg {
      vertical-align: middle;
      margin-right:4px;
      margin-top: -2px;
    }
  }
}

.newsContent {
  line-height: 20px;
  font-size: 14px;
  img {
    max-width: 100%;
  }
}


