@import './theme.less';

@space:0,4,8,12,16,24,32,48,64,72,76;

:global {
  .am-icon-f {
    width: 26px !important;
    height: 26px !important; 
  }
  a {
    color: @brand-primary;
  }
  .space(@num) {
    .mt@{num} {
      margin-top: @num+0px;
    }
    .mb@{num} {
      margin-bottom: @num+0px;
    }
    .ml@{num} {
      margin-left: @num+0px;
    }
    .mr@{num} {
      margin-right: @num+0px;
    }
    .p@{num} {
      padding: @num+0px;
    }
    .pt@{num} {
      padding-top: @num+0px;
    }
    .pb@{num} {
      padding-bottom: @num+0px;
    }
    .pl@{num} {
      padding-left: @num+0px;
    }
    .pr@{num} {
      padding-right: @num+0px;
    }
  }
  .loop(@i) when (@i < length(@space)+1){
    .space(extract(@space, @i));
    .loop(@i+1);
  }
  .loop(1);
  .mt8 {
    margin-top: 8px !important;
  }
  ul,li,h1,h2,h3,h4,h5,p {
    margin:0;
    padding:0;
  }
  html,body,#root {
    width: 100%;
    height: 100%;
    background-color: @fill-body;
  }
  body {
    margin: 0;
    font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @color-text-base;
    font-size: 14px;
    //-webkit-overflow-scrolling:touch;
  }
  
  //reset antd mobile style
  .am-navbar-left {
    padding-left: 9px !important;
  }
  
  .text-primary {
    color: @brand-primary;
  }
  // fix tabbar scroll
  .no-top-bor {
    &:before {
      display: none !important;
    }
  }
  .am-list-item {
    .am-input-control,
    .am-input-control input,
    .am-input-control .fake-input-container .fake-input,
    .am-input-label,
    .am-input-extra,
    .am-list-line .am-list-extra,
    .am-list-line .am-list-content,
    .am-textarea-control textarea {
      font-size: 15px !important;
      flex-basis: initial !important;
    }
    .am-input-clear {
      width: 16px;
      height: 16px;
      background-size: 16px auto;
    }
  }
}