@import './theme.less';

:global {
  .mt8 {
    margin-top: 8px !important;
  }
  ul,li,h1,h2,h3,h4,h5,p {
    margin:0;
    padding:0;
  }
  html,body,#root {
    width: 100%;
    height: 100%;
    background-color: @fill-body;
  }
  body {
    margin: 0;
    font-family: 'Lucida Grande','Trebuchet MS','Hiragino Sans GB','Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @color-text-base;
    font-size: 14px;
    //-webkit-overflow-scrolling:touch;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .line1px,.line1pxTop {
      position: relative;
    }
    html:not([data-scale]) .line1px:after {
      content: "";
      position: absolute;
      background-color: @border-color-base;
      display: block;
      z-index: 1;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: 50% 100%;
      transform: scaleY(.5)
    }
    html:not([data-scale]) .line1pxTop:before {
      content: "";
      position: absolute;
      background-color: @border-color-base;
      display: block;
      z-index: 1;
      top: -1px;
      right: auto;
      bottom: auto;
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: 50% 100%;
      transform: scaleY(.5)
    }
  }

  //reset antd mobile style
  .am-navbar-left {
    padding-left: 9px !important;
  }
  
  // fix tabbar scroll
  
}