@import "~antd-mobile/dist/antd-mobile.less";

@color-light: #c3c9d5;

@brand-primary: #3c73f0;
@color-text-base: #060606;

@border-color-base: #e8e8e8;
@border-color-secondary: #ebedf0;

@arrow-line-color: @color-light;
@wraning-dark: #fa8c16;

@brand-text-secondary: #f8f8f8;

@card-text-color: #6f7b93;
@card-icon-color: #9db9f7;


